<div class="messagesBar panel panel-primary" >
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#messagesCollapsible">
        Chat now with other donors !</a>
      </h4>
    </div>
    <div id="messagesCollapsible" class="panel-collapse collapse" (submit)="formSubmit()">
      <div class="panel-body" >
        <ul id="messages"></ul>
        <form class="form-horizontal" role="form">
          <div class="input-group" >
            <input id="m" autocomplete="off" type="text" class="form-control" />
            <span class="input-group-btn">
              <input type="submit" value="submit" class="glyphicon glyphicon-send btn btn-info" type="button" />
            </span>
          </div>
        </form>
      </div>
    </div>
</div>
